boto3
croniter
fastapi
gpiozero
lgpio
Pillow
pydantic
requests
rpi-lgpio
smbus
spidev
streamlit
unidecode
uvicorn
waveshare-epd @ git+https://github.com/waveshareteam/e-Paper.git@af4d8b49ccef5f8f5fb88e9a836b86bd3f0bbfe3#subdirectory=RaspberryPi_JetsonNano/python
openai
setuptools